-# content_for(:javascripts) do

:javascript
  dojo.require("dojox.grid.EnhancedGrid");
  dojo.require("dojox.grid.enhanced.plugins.NestedSorting");
  dojo.require("dojox.grid.enhanced.plugins.Filter");
  var proj_jobs_json = {
    identifier: 'id',
    label: 'name',
    items: #{@job_array.to_json} };

  var proj_jobs = new dojo.data.ItemFileWriteStore({
    data: jobs_json
  });
  
  var get_filename = function(job_parameters) {
    return JSON.parse(job_parameters).original_filename;
  };

%div(data-dojo-type="dijit.Toolbar" style="height:25px!important;margin: 0 0 15px 0;")
  %strong PROJECT JOBS (#{@job_array.count})
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  %span(data-dojo-type="dijit.ToolbarSeparator")
  %span(data-dojo-type="dijit.form.Button")
    = link_to('Refresh', 'javascript:', :onclick=>"refreshTab('project_jobs');") 
  %span(data-dojo-type="dijit.ToolbarSeparator")

-#%h3{:style=>"margin:0;"}
-#  Project Jobs

%br

#job-grid{:style=>"margin:0;padding:0;"}
  %table{:id=>'project_job_grid', :dojoType=>"dojox.grid.EnhancedGrid", 
    :plugins=> "{nestedSorting:false, filter:true, indirectSelection:false}",  
    :jsId=>"JobsGrid", 
    :store=>"proj_jobs", 
    :autoWidth=>"false",
    :style=>"width:80%;min-height:200px;height:90%;float:left;margin:0;padding:0;cursor:pointer;"}
    %thead
      %tr
        %th{:field => "id", :width => "50px"} Job ID
        %th{:field => "job_parameters", :width => "auto", :formatter=>"get_filename"} File Name
        %th{:field => "job_type", :width => "auto"} Type
        %th{:field => "submitted_at", :width => "auto"} Time Submitted
        %th{:field => "user_name", :width => "auto"} User
        %th{:field => "status", :width => "auto"} Status
  = clear_break
