:javascript
  dojo.require("dojox.grid.EnhancedGrid");
  dojo.require("dojox.grid.enhanced.plugins.NestedSorting");
  dojo.require("dojox.grid.enhanced.plugins.Filter");
  dojo.require("dojo.data.ItemFileReadStore");
  dojo.require("dijit.layout.TabContainer");
  dojo.require("dojox.grid.enhanced.plugins.IndirectSelection");
  
  // SAVE CALLBACKs for ITEM RESTORE
  function cv_item_restore(item) {
    console.log('RESTORE:',item);
    var tabs = dijit.byId('tab_browser');
    var siteId = item.id;
    //var sitePane = openSiteTab(tabs, item.id, true);
    var sitePane = dojo.byId('site'+siteId);
    console.log('site'+siteId, sitePane);
    if(sitePane) {
      sitePane = dijit.byNode(sitePane);
    } else {
      sitePane = new voeis.ui.SitePane2();
      sitePane.setSite(siteId);
      tabs.addChild(sitePane);
      //console.log(sitePane);
    };
    sitePane.siteUpdate(item);
    sitePane.setEdit();
    tabs.selectChild(sitePane);
  };
  
  
%h3{:style=>"margin-top:0;"}
  %span.small{:style=>"font-size:14px;"}
    HISTORY: 
  = '%s [Id:%s]'%[@site.name,@site.id]

%strong
  SHOW SITE VERSIONS
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= link_to('REFRESH', 'javascript:', :class=>'icon icon-hist', :onclick=>"dojo.publish('voeis/project/site/history/update', [#{@site.id}]);")
%br


- projId = @project.nil? ? '' : @project.id.to_s
#cv-versions
  = render_widget :versions, :display, :item=>@site,
                                        :versions=>@versions,
                                        :unique_id=>"%s_site%03d"%[projId,@site.id],
                                        :unique_jsid=>"%s_site%03d"%[projId.tr('-','$'),@site.id],
                                        :item_refs=>@site_refs,
                                        :properties=>@ver_properties,
                                        :restore_callback=>"cv_item_restore",
                                        :user=>current_user



