:css
  #head {
    margin-left: 0;
    margin-top: 10px;
    font-family: Georgia, serif;
    font-size: 20pt;
    font-style: italic;
    //color: #3A4491;
  }
  #head-voeis {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: bold;
    font-style: normal;
  }
  #content { margin:10px 50px }
  #wrapper {
    background-color: #69C;;
    padding-top: 1px;
    padding-left: 30px;
  }
  #links {
    margin-left: 0;
    margin-top: 20px;
    list-style-type: none;
    list-style-position: inside;
    border-left: 12px #004481 solid;
    
  }
  #links li {
    list-style-position: inside;
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 12pt;
    font-weight: normal;
    
  }

#content
  #wrapper

    #content2
      %h3 VOIES data hosted on Blue Water Task Force #{link_to('website', 'http://bluewatertaskforce.org/test-sites.php', {:target=>'_blank'})}

      = link_to(image_tag("bluewater2.gif", :alt=>"Blue Water Task Force logo", :align=>"left", :title=>"BlueWaterTaskForce.org"), 'http://bluewatertaskforce.org/test-sites.php', {:target=>'_blank'})
      = clear_break
      = clear_break
      
      %p 
        This Hydrology data on the Blue Water Task Force website is 
        queried from and generated in real-time by VOEIS.
      
      %ul{:id=>"links"}
        %li
          =link_to("Meadow Village Weather Station data", 'http://bluewatertaskforce.org/testsitedata_realtime.php?testsite_id=13', {:target=>'_blank'})
        %li
          =link_to("Gallatin Middle Fork2 data", 'http://bluewatertaskforce.org/testsitedata_realtime.php?testsite_id=12', {:target=>'_blank'})
        %li
          =link_to("Gallatin North Fork data", 'http://bluewatertaskforce.org/testsitedata_realtime.php?testsite_id=11', {:target=>'_blank'})
        %li
          =link_to("Gallatin South Fork data", 'http://bluewatertaskforce.org/testsitedata_realtime.php?testsite_id=10', {:target=>'_blank'})
        %li
          =link_to("Gallatin West Fork data", 'http://bluewatertaskforce.org/testsitedata_realtime.php?testsite_id=8', {:target=>'_blank'})

    %br 
    %br