:javascript
  dojo.require("dijit.layout.ContentPane");
    
  $(window).ready(function(){ 
    console.log('DONE LOADING!!');
    
    //parsedWidgets = dojo.parser.parse();
    
  });

:css
  #head {
    background-color: #69C;
    //margin-left: 1em;
    margin-top: 10px;
    width: 100%;
    font-size: 20pt;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: bold;
    //font-style: italic;
    //color: # ; //#3A4491;
  }
  #head-voeis {
    font-size: 16pt;
    font-weight: normal;
    font-family: Georgia, serif;
    font-style: italic;
  }
  #content { margin:0px 20px}
  #wrapper {
    //background-color: #69C;//#ccb;
    padding-top: 1px;
  }
  #login-image img { margin-right:20px; }
  #login-description { margin-right:30px; }
  #links {
    margin-left: 0;
    list-style-type: none;
    list-style-position: outside;
    
    
  }
  #links li {
    list-style-position: inside;
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 12pt;
    font-weight: bold;
    
  }
  
  #title{
    min-height:10em;
    display:table-cell;
    vertical-align:top;
    padding-top: 10px;
  }
  
  /* ###V2.0 */
  
  #main_container, #content { background: #d3d9df !important; }
  
  .calcButton.dijitButton .dijitButtonNode{
      width: 30px;
  }

  .splashDiv {
    margin: 1.5em; 
    padding: 1em;
    border: 1px solid gray; 
    border-radius: 6px; 
    -moz-border-radius: 6px; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: white; 
    width: 1075px;
    box-shadow: 10px 10px 5px #888888;
  }

  .grayDiv {
    border: 1px solid gray; 
    border-radius: 6px; 
    -moz-border-radius: 6px; 
    margin-bottom: 2em; 
    background-color: #e8ebf1;
  }  
  
  .splashElement {
    text-align : left;
    font-weight : normal;
    font-size : 12pt;
  }
  
  .startButton {
      cursor : pointer;
      color : white !important;
      font-size : 24px !important;
      font-weight : bold !important;
      font-family : Helvetica !important;
      border-radius : 6px !important;
      padding : 0.5em !important;
      background-image : background-image: -webkit-gradient(linear, left top, left bottom, from(gray), to(black)) background-image: -o-linear-gradient(white, black);
      background-image : -ms-linear-gradient(gray, black);
      background-image : -moz-linear-gradient(gray, black);
      background-image : -webkit-linear-gradient(gray, black);
      background-image : linear-gradient(gray, black) !important;
  }
  .startButton:hover {
      color : #7eaeec !important;
  }
  
  

#content
  -#wrapper
  
  %div(style="overflow: visible; padding-top: 1em; padding-left: 1em; width:100%; height:110px;")
    -#=image_tag("voeis_logo-90.png") 
    -#%img(src="v2/voeis_logo.png" style="padding-left: 1em; display: inline-block; height: 135px;")
    =image_tag("v2/voeis_logo.png", :style=>"padding-left: 1em; display: inline-block; height: 135px;")
    %div(style="padding: 2em; float: right; display: inline-block;")
      -#=link_to("Browse Public Projects in VOEIS", projects_path($project), :style=>"margin-left:10px;")
      -#%button{:class=>"startButton", :onclick=>projects_path($project)} 
      %button{:class=>"startButton", :onclick=>"location.href='#{projects_path()}';"} 
        Start Browsing Public Data

  -#= form_for(:user_session, :url => user_session_path, :builder => YogoFormBuilder) do |f|
  #HomeTabs(dojoType="dijit.layout.TabContainer" style="font-size:12pt; text-align:right; font-weight:bold; width:100%; height:480px;" 
        controllerWidget="dijit.layout.TabController")

    #Home(dojoType="dojox.layout.ContentPane" selected="selected" title="Home" class="splashElement" href="/static/v2pages/Home.html" 
        style=" background-color: #f5f6f8;")
    #Overview(dojoType="dojox.layout.ContentPane" title="Overview" class="splashElement" href="/static/v2pages/Overview.html" 
        style="background-color: #f5f6f8;")
    #Features(dojoType="dojox.layout.ContentPane" title="Features" class="splashElement" href="/static/v2pages/Features.html" 
        style="background-color: #f5f6f8;")
    #Tutorials(dojoType="dojox.layout.ContentPane" title="Tutorials" class="splashElement" href="/static/v2pages/Tutorials.html" 
        style="background-color: #f5f6f8;")
    #Documentation(dojoType="dojox.layout.ContentPane" title="Documentation" class="splashElement" href="/static/v2pages/Documentation.html" 
        style="background-color: #f5f6f8;" parseOnLoad="true" onLoad="doOnLoad();")
    #FAQ(dojoType="dojox.layout.ContentPane" title="FAQ" class="splashElement" href="/static/v2pages/FAQ.html" 
        style="background-color: #f5f6f8;" parseOnLoad="true" onLoad="doOnLoad_faqs();")

    -#  onLoad="dojo.parser.parse(dojo.byId('DocTabs'));"

