- content_for(:javascripts) do
  :plain
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  :javascript
    dojo.require("dojox.grid.EnhancedGrid");
    dojo.require("dojox.grid.enhanced.plugins.IndirectSelection");
    dojo.require("dojo.data.ItemFileReadStore");
    dojo.require("dojo.store.Memory");
    dojo.require("voeis.Server");
    dojo.require("dijit.layout.TabContainer");
    dojo.require("voeis.ui.SitePane");
    dojo.require("voeis.ui.ProjectSitesGrid");
    
    projectsDataStore = voeis.Server.DEFAULT.projectsDataStore();
    
    var project_data = [
      #{@projects.map{|proj| "        "+proj.to_json}.join(",\n")}
    ];
    var projects_json = {
        identifier: 'id',
        label: 'name',
        items: project_data };
    
    var pcount = '#{@projects.length}';

    function project_formatter(id) {
      var href = '/projects/'+id;
      var img = '<img src="/images/view.gif" alt="SHOW project" title="Project Details" />';
      //var onclick = 'window.defaultStatus="LOADING...";return true;';
      //var link = '<a href="'+href+'" onclick="'+onclick+'">'+img+'</a>';
      var link = '<a href="'+href+'">'+img+'</a>';
      //var link = '<a href="javascript:" onclick="alert(\'SiteID; \'+id);"><img src="/images/view.gif" alt="VIEW site" title="VIEW" /></a>';
      return '&nbsp;&nbsp;'+link;
    };

    $(window).load(function(){ 
      var loading = dijit.byId('loading_dialog');
      var map = dijit.byId('split_map');
      //google.maps.event.addListener(map._map, 'center_changed', function(){
        //MAP POSITION CHANGED!
        //loading.hide();
      //});
    });

- content_for(:stylesheets) do
  = stylesheet_link_tag("/javascripts/dojox/grid/enhanced/resources/EnhancedGrid.css")
  = stylesheet_link_tag("/javascripts/dojox/grid/enhanced/resources/claro/EnhancedGrid.css")

#proj_store{:dojoType=>"dojo.data.ItemFileReadStore", :jsId=>"proj_store", :data=>"projects_json"}
#tab_browser{:dojoType=>"dijit.layout.TabContainer"}
  %table{:id=>'projects_table', :title=>"Projects", :dojoType=>"dojox.grid.EnhancedGrid", 
          :store=>"projectsDataStore", 
          :clientSort=>true,
          :sortInfo=>"-2",
          :plugins=>"{indirectSelection: true}"}
    %thead
      %tr
        %th{:field=>"id", :width=>"45px", :filterable=>false, :formatter=>'project_formatter'} Show
        -#%th{:field => "id", :width => "auto"} Proj.ID 
        %th{:field => "name", :width => "auto"} Project 
    %script{:type => "dojo/method", :event => "onRowDblClick", :args => "evt"}
      :plain
        // NO LONGER USED
        //var item = this.getItem(evt.rowIndex);
        //var id = item.id;
        //dojo.publish("voeis/project/browse", [id]);
    %script{:type => "dojo/method", :event => "onSelected", :args => "idx"}
      :plain
        //console.log("selected:");
        console.log(arguments);
        //console.log('URL: '+window.location);
        //console.log('STAT: '+window.deafultStatus);
        //if(window.defaultStatus=='LOADING...') return;
        //dijit.byId('loading_dialog').show();
        var item = this.getItem(idx);
        dojo.publish("voeis/project/browse", [item]);
    %script{:type => "dojo/method", :event => "onDeselected", :args => "idx"}
      :plain
        console.log("deselected:");
        console.log(arguments);
        //dijit.byId('loading_dialog').show();
        var map = dijit.byId('split_map');
        var item = this.getItem(idx);
        var tabs = dijit.byId('tab_browser');
        var tab_browser = dijit.byId('right_tabs');    
        var map_pane = dijit.byId('map_pane');
        tab_browser.selectChild(map_pane);
        map.store.remove(item.id);
        tabs.closeChild(dijit.byId(item.id));

:javascript
  (function(){
    var openSiteTab = function(tabs, projectId, siteId) {
      var sitePane = dojo.byId(projectId+'--'+siteId);
      if(sitePane) {
        sitePane = dijit.byNode(sitePane);
      } else {
        var sitePane = new voeis.ui.SitePane();
        sitePane.set({projectId:projectId, siteId:siteId});
        //sitePane.setSite(projectId, siteId);
        tabs.addChild(sitePane);
      };
      tabs.selectChild(sitePane);
    };

    var openVarTab = function(tabs, projectId, varId, varName, siteId) {
      //var varPane = new voeis.ui.VariablePane();
      var projVarId = projectId+'-var'+varId;
      var varPane = dojo.byId(projVarId);
      if(varPane) {
        varPane = dijit.byNode(varPane);
      } else {
        varPane = new dojox.layout.ContentPane({
          id: projVarId,
          title: varName,
          closable: true,
        	executeScripts: true,
      	  ioArgs: { headers: {"Accept": "text/html"} },
          store: voeis.Server.DEFAULT,
          href: "/projects/"+projectId+"/variables/"+varId+".html?&site_id="+siteId});
        tabs.addChild(varPane);
      };
      tabs.selectChild(varPane);
    };

    var openSitesGridTab = function(tabs, projectId) {
      var sitesGrid = new dojox.grid.EnhancedGrid({
        title: projectId,
        closable: true,
        store: voeis.Server.DEFAULT.projectSitesDataStore(projectId),
        structure: [
          {field: 'name', name: "Site", width: "auto"},
          {field: 'state', name: "State", width: "auto"}
        ]
      });    
      
      tabs.addChild(sitesGrid);
      tabs.selectChild(sitesGrid);
    };

    var popMapMarker = function(projectId, siteId) {
      //set focus on grid
      var grid = dijit.byId(projectId);
      var tabs = dijit.byId('tab_browser');
      if(false) {
        tabs.selectChild(grid);
        var col = grid.layout.cells[1];
        grid.selection.clear();
        for(var i=0; i<grid.rowCount; i++)
          if(siteId==grid.getItem(i).id) {
            grid.scrollToRow(i);
            //grid.selection.addToSelection(i);
            grid.focus.setFocusCell(col,i);
            grid.focus.focusGrid();
            break;
          };
      };
      var map = dijit.byId('split_map');
      var map_pane = dijit.byId('map_pane');
      var tab_browser = dijit.byId('right_tabs');    
      var marker = map.fetchMarker(projectId,siteId);
      tab_browser.selectChild(map_pane);
      if(marker) marker.popWin(map);
    };
    
    //*** Function returns list of an objects properties
    //***  delim: if included, returns a string joined by delim
    //***  used for debugging
    function obj_list(obj,delim) {
      var list = [];
      for(var x in obj)
        list.push(x);
      if(delim) list = list.join(delim);
      return list;
    };

    dojo.subscribe("voeis/project/site/popped", function(projectId, siteId) {
      console.log(arguments);
      popMapMarker(projectId, siteId);
    });

    dojo.subscribe("voeis/project/site/selected", function(projectId, siteId) {
      console.log(arguments);
      var tab_browser = dijit.byId('right_tabs');    
      openSiteTab(tab_browser, projectId, siteId);
    });

    dojo.subscribe("voeis/project/site/popped-selected", function(projectId, siteId) {
      console.log(arguments);
      popMapMarker(projectId, siteId);
      var tab_browser = dijit.byId('right_tabs');    
      openSiteTab(tab_browser, projectId, siteId);
    });

    dojo.subscribe("voeis/project/variable/tab", function(projectId, varId, varName, siteId) {
      console.log(arguments);
      var tab_browser = dijit.byId('right_tabs');
      openVarTab(tab_browser, projectId, varId, varName, siteId);
    });

    dojo.subscribe("voeis/project/browse", function(project) {
      //openSitesGridTab(tabs, projectId);
      //###############
      //var proj_store = new dojo.store.Memory();
      //proj_store.add(project);
      //var site_store = voeis.Server.DEFAULT.projectSitesDataStore(project.id);
      var tabs = dijit.byId('tab_browser');
      var tab_browser = dijit.byId('right_tabs');    
      var map = dijit.byId('split_map');
      var map_pane = dijit.byId('map_pane');
      tab_browser.selectChild(map_pane);
      map.store.add(project);
      //map.setStore(proj_store);
      var grid = voeis.ui.ProjectSitesGrid(project.id);
      tabs.addChild(grid);
      tabs.selectChild(grid);
    });
  })();
  

