.small-centered.boxed
  %h1 Create a Project
    
.small-centered
  .rbox.dashed
    %br
    = form_for(:project, @project, :url => projects_path, :builder => YogoFormBuilder) do |f|
      = f.text_field :name, :dojoType=> "dijit.form.ValidationTextBox", :required=>true, :onChange=>"checkNameField();"
      = f.text_area(:description)
      %button{:dojoType=>"dijit.form.Button",:value=>"Save", :title=>"Save", :type=>"submit", :disabled=>true, :id=>"save_project_button"}
        Save
        
      = link_to('Cancel', root_path, :class => 'icon icon-cancel') 

:javascript
  dojo.require("dijit.form.Button");
  dojo.require("dijit.form.ValidationTextBox");
  function checkNameField(){
    if ($("#project_name").val() != ""){
      dijit.byId("save_project_button").set("disabled", false);
    }
  }