- content_for(:javascripts) do
  :javascript
    dojo.require("dojox.validate.regexp");   
    function  createSource(){ 
    $.post("#{root_url + "sources"}.json?source[organization]=" +$("#source_organization").val()+"&source[source_description]=" + $("#source_source_description").val()+"&source[source_link]="+$("#source_source_link").val()+"&source[contact_name]="+ $("#source_contact_name").val() + "&source[phone]="+ $("#source_phone").val() + "&source[email]="+$("#source_email").val()+"&source[address]="+$("#source_address").val()+"&source[city]="+$("#source_city").val()+"&source[state]="+$("#source_state").val()+"&source[zip_code]="+$("#source_zip_code").val()+"&source[citation]="+$("#source_citation").val(),
    function(data) {
      $('#source').append($("<option></option>").attr("value",data['id']).text($("#source_organization").val() + ':' + $("#source_contact_name").val())); 
      $('#source').val(data['id']);
      dijit.byId("new_source").hide();
    }
    );
    }
    dojo.require("dijit.Tooltip");
    

#new_source{:dojoType=>"dijit.Dialog", :title=>"New Source"}

  = form_for :source, :html=>{:dojoType=>"dijit.form.Form", :id=>"source"} do |f|
    %label Organization:
    =f.text_field :organization, :dojoType=>"dijit.form.ValidationTextBox", :size=>50,  :style=>"width:30em", :required=>"true",:promptMessage=>"Enter the organization.",:invalidMessage=>"Invalid - the organization is require."
    =clear_break    
    %br  
    %label Source Description:
    =f.text_field :source_description, :size => 50, :dojoType=>"dijit.form.ValidationTextBox",  :style=>"width:50em", :required=>"true",:promptMessage=>"Enter source description.",:invalidMessage=>"Invalid - a source description is required."
    =clear_break
    %br
    %label Source Link:
    =f.text_field :source_link, :size=> 50, :dojoType=>"dijit.form.ValidationTextBox",  :style=>"width:50em", :required=>"true",:promptMessage=>"Enter source link.",:invalidMessage=>"Invalid - a valid url to the source is required."
    =clear_break
    %br
    %label Contact Name:
    =f.text_field :contact_name, :size => 50, :dojoType=>"dijit.form.ValidationTextBox",  :style=>"width:30em", :required=>"true",:promptMessage=>"Enter contacts fullname.",:invalidMessage=>"Invalid - a contact name is required."
    =clear_break
    %br
    %label Phone:
    =f.text_field :phone, :size => 15, :dojoType=>"dijit.form.ValidationTextBox",  :style=>"width:10em", :required=>"true",:promptMessage=>"Enter phone number.",:invalidMessage=>"Invalid - enter a valid phone number.", :regExp=>'^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$'
    =clear_break
    %br
    %label Email:
    =f.text_field :email, :size=> 50, :dojoType=>"dijit.form.ValidationTextBox",  :style=>"width:30em", :required=>"true",:promptMessage=>"Enter address.",:invalidMessage=>"Invalid - enter a an email address -be sure it works.", :regExp=>'^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$'
    =clear_break
    %br
    %label Address:
    =f.text_field :address, :size => 50, :dojoType=>"dijit.form.ValidationTextBox",  :style=>"width:50em", :required=>"true",:promptMessage=>"Enter address.",:invalidMessage=>"Invalid - address required."
    =clear_break
    %br
    %label City:
    =f.text_field :city, :size => 50, :dojoType=>"dijit.form.ValidationTextBox",  :style=>"width:30em", :required=>"true",:promptMessage=>"Enter the city.",:invalidMessage=>"Invalid- enter the name of the city."
    =clear_break
    %br
    %label State:
    =f.text_field :state, :size=>2, :dojoType=>"dijit.form.ValidationTextBox",  :style=>"width:5em", :required=>"true",:promptMessage=>"Enter State.",:invalidMessage=>"Invalid- enter the two letter of fullname of the state."
    =clear_break
    %br
    %label Zipcode:
    =f.text_field :zip_code, :size=>5, :dojoType=>"dijit.form.ValidationTextBox", :regExp=>'\d{5}([\-]\d{4})?$', :style=>"width:10em", :required=>"true",:promptMessage=>"Enter zip code.",:invalidMessage=>"Invalid zip code (NNNNN) or (NNNNN-NNNN)."
    =clear_break
    %br
    %label Citation:
    =f.text_field :citation, :size => 50, :dojoType=>"dijit.form.TextBox",  :style=>"width:30em"
    =clear_break
    %br
    %button{:id=> 'new_source_button',:dojoType=>"dijit.form.Button", :title=>'Create', :onClick=>"createSource();"}
      Create Source
      %script{:type=>"dojo/method", :event=>"startup"}
        var form = dijit.byId("source");
        // set initial state
        this.attr("disabled", !form.isValid());
        this.connect(form, "onValidStateChange", function(state){
        this.attr("disabled", !state);
        });
      


